{{ define "clientFooter" }}
  <footer class="bg-gray-800 text-white py-6">
  <div class="container mx-auto px-4 flex flex-col sm:flex-row items-center justify-between">
    
    <!-- Logo & Company Name -->
    <div class="flex items-center space-x-3">
      <img src="/static/imgs/logos/notrix_dark.png" alt="Company Logo" class="h-10 w-10">
      <span class="text-lg font-semibold">NOTRIX</span>
    </div>

    <div>
      &copy; 2025 All Rights Reserved.
    </div>

    <!-- Contact Info -->
    <div class="mt-4 sm:mt-0 text-sm text-gray-300">
      <p>Email: contact@notrix.com</p>
      <p>Phone: +255705797168</p>
    </div>

  </div>
</footer>
{{ end }}
